body {
    background-color: darkgrey;

}

#start_btn {
    height: 500px;
    width: 500px;
    border: grey 2px double;
    border-radius: 360px;
    position: relative;
    top: 27%;
    left: 45%;
    font-size: 100px;
    background-color: lightgreen;
}

.slider-container {
    position: relative;
}

.slider-container .slider-parent {
    height: 76vh;
    max-width: 250px;
    width: 100%;
    background: #6C7A89;
    position: absolute;
    left: -250px;
    top: 50px;
    visibility: hidden;
    opacity: 0;
    pointer-events: none;
    transition: .2s all linear;
}

.slider-container .slider-parent.active {
    visibility: visible;
    pointer-events: inherit;
    transition: .2s all ease-in-out;
    opacity: 1;
    left: 0;
}

a {
    font-size: 40px;
    text-decoration: none;
}

h1 {
    font-family: 'Alegreya Sans SC', sans-serif;
    text-transform: uppercase;
    height: 90px;
    line-height: 90px;
    text-align: center;
    padding-top: 0;
    margin-top: 0;
    margin-bottom: 0;
}

#logo {
    font-size: 50px;
}

header {
    background-color: blue;
    margin-bottom: 10px;
}

footer {
    text-align: center;
    padding: 20px;
    margin-top: 30px;
    color: white;
    background-color: #0f0f40;
    left: 0;
    bottom: 0;
    height: 100px;
    width: 100%;
}

#menuLinks {
    text-align: center;
    line-height: 800%;
}



