body {
    background-color: darkgrey;

}

#start_btn {
    max-width: 80%;
    margin: auto;
    position: absolute;
    top: 0; left: 0; bottom: 0; right: 0;
    height: 150px;
    width: 500px;
    text-align: center;
    background-color: lightgrey;
    display: inline-block;
}

#nappi {
    width: 80%;
    height: 20%;
    border-radius: 10px;
    font-size: 16px;
}

.slider-container {
    position: relative;
}

.slider-container .slider-parent {
    height: 60vh;
    max-width: 30%;
    width: 100%;
    background: #6C7A89;
    position: relative;
    left: -250px;
    top: 0;
    visibility: hidden;
    opacity: 0;
    pointer-events: none;
    transition: .2s all linear;
}

.slider-container .slider-parent.active {
    visibility: visible;
    pointer-events: inherit;
    transition: .2s all ease-in-out;
    opacity: 1;
    left: 0;
}

a {
    font-size: 40px;
    text-decoration: none;
    font-family: 'Alegreya Sans SC', sans-serif;
}

h1 {
    font-family: 'Alegreya Sans SC', sans-serif;
    text-transform: uppercase;
    height: 90px;
    line-height: 90px;
    text-align: center;
    padding-top: 0;
    margin-top: 0;
    margin-bottom: 0;
}

#logo {
    font-size: 50px;
}

header {
    background-color: blue;
}

footer {
    font-family: 'Alegreya Sans SC', sans-serif;
    text-transform: uppercase;
    height: 90px;
    line-height: 90px;
    text-align: center;
    padding-top: 0;
    margin-top: 0;
    margin-bottom: 0;
    background-color: red;
}

#menuLinks {
    text-align: center;
    height: 60vh;
    line-height: 100px;
}


body {
    background-color: ghostwhite;
}

.container {
    max-width: 60%;
    margin: auto;
    background: white;
    padding: 10px;
}

