html, body, #map {
    height: 100%;
}


html{
    background: #111;
}

body {
    margin: 2px;
    text-align: center;
    background: #fff;
    border: 1px solid #ccc;
    padding: 2px 2px;
}

#leafletmap{
    height: 900px;
    border: 1px solid #ccc;
}
.pure-button{
    visibility: visible;
    position: absolute;
    width: 35px;
    height: 35px;
    z-index: 9999;
    left: 16px;
    top: 90px;
    border-radius: 5px;
    border: darkgrey solid 2px;

}
